/* LOGIN & REGISTER */

.image-container {
    background-color: #FC48B4;
    display: grid;
}

.image-container .buildings {
    margin-left: 40px;
    width: 80%;
    margin-top: 10%;
}

.image-container .people {
    margin-left: 50px;
    width: 80%;
    position: absolute;
    margin-top: 25%;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    float: left;
    color: #ffffff;
}

.form-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4 {
    font-weight: bold;
    color: #000000;
}
/* 
.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    padding-left: 45px;
}

.form-box .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777;
} */
/* 
.form-box input[type="checkbox"]:not(:checked)+label:before {
    background: transparent;
    border: 2px solid;
    width: 15px;
    height: 15px;
} */

.forgot-link,
.custom-control-label {
    cursor: pointer;
}

.forgot-link:hover,
.custom-control-label:hover,
.register-link:hover,
.login-link:hover {
    color: #FC48B4;
}

.form-level {
    margin-left: -220px;
    margin-bottom: 20px;
}

.form-box button[type="submit"] {
    border: 2px solid #FC48B4;
    cursor: pointer;
    width: 405px;
    height: 40px;
    margin-left: 15px;
    background-color: #FC48B4;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

.form-box button[type="submit"]:hover {
    background-color: rgb(212, 61, 152);
    color: #ffffff;
}

.text-register-link,
.text-login-link {
    color: #777;
}